@charset 'utf-8';

/**** REGISTRATION FORM INPUT ****/

input.textinput:required
{
    background-color: rgbs(255,0,0,0.04);
}
 input.textinput:focus
 {
     background-color: rgba(255,255,255, 0.8);
     border: px solid #ff5400;
 }